@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'WotfardBold';
		src: url('../fonts/Wotfard-Bold.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Wotfard';
		src: url('../fonts/Wotfard-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'WotfardMedium';
		src: url('../fonts/Wotfard-Medium.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	html,
	body {
		@apply bg-discord-blurple-560;
		font-family: "Wotfard", sans-serif;
	}

	body {
		overscroll-behavior-y: none;
		@apply min-h-screen min-w-full fixed;
	}

	#container {
		overscroll-behavior-y: none;
		@apply overflow-auto h-[calc(100vh-64px)];
	}

	img {
		@apply inline-block !m-0;
	}

	h1, h2 {
		font-family: "WotfardBold", sans-serif;
	}
}

@layer components {
	.noprose {
		@apply !m-0;
	}

	.noprose p {
		@apply !m-0;
	}

	.noprose > div.info,
	.noprose > div.warn {
		@apply !mt-4;
	}

	.noprose li {
		@apply !m-0;
	}

	.no-list li {
		padding-left: 0.25rem !important;
	}

	.no-list li::before {
		content: none !important;
	}

	.custom-scroll {
		scrollbar-width: thin;
		scrollbar-color: theme('colors.discord.weeby.400') #1d1d1d;
	}

	.custom-scroll::-webkit-scrollbar {
		height: 8px; /* Manually measured based on the original thin scrollbar on Firefox */
		width: 8px; /* Manually measured based on the original thin scrollbar on Firefox */
	}

	.custom-scroll::-webkit-scrollbar-thumb {
		background: theme('colors.discord.weeby.400');
	}

	.custom-scroll::-webkit-scrollbar-thumb:hover {
		background: theme('colors.discord.weeby.400');
	}

	.custom-scroll::-webkit-scrollbar-track {
		background: rgba(0, 0, 0, 0.07);
	}

	#container.custom-scroll::-webkit-scrollbar-track {
		background: #ffffff;
	}

	.dark #container.custom-scroll::-webkit-scrollbar-track {
		background: #1d1d1d;
	}
}

@layer utilities {
	.break-words-legacy {
		word-break: break-word;
	}

	.scroll-to {
		scroll-margin-top: theme('spacing.16');
	}
}

.info {
	@apply dark:text-gray-200 p-2 border-l-4 border-discord-blurple-500 mt-4;
	/* prettier-ignore */
	background: theme('colors.discord.blurple.400')50;
}

.warn {
	@apply dark:text-gray-200 p-2 border-l-4 border-discord-red-500 mt-4;
	/* prettier-ignore */
	background: theme('colors.discord.red.400')50;
}
